.messageBoxContainer{
    position: flex;
}



.messageBox {
    width: 800px;
    height: 700px;
    margin-top: 2rem;
    margin-right: 6.5rem;
    justify-content: center;
    border: 3px solid #f28500;
    border-radius: 30px;
}

.messageBoxTabs {
    width: 100%;    
    display: flex;
    list-style: none;
}

.messageBoxTabs>.boxTab {
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    width: 50%;
    border-bottom: 1px solid orange;
    text-align: center;
}

.messageBoxTabs>.tab1 {border-radius: 27px 0 0 0;}
.messageBoxTabs>.tab2 {border-radius: 0 27px 0 0;}

.messageBoxTabs>.boxTab:hover {
    color: white;
    background-color: orange;
    cursor: pointer;
}

.messages {
    border-bottom: 1px solid lightgray;    
    height: 100px;
    min-height: 100px;
    width: 795px;
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 2rem;
}

.messageCotent{
    display: flex;
}

.messageCotent > input[type=checkbox]{
    margin-right: 15px;
}

.messageCotent  h3{    
    margin-bottom: 10px;
}



.msgBoxDelBtn{    
    position: absolute;
    top: 48rem;
    left: 24rem;
    padding: 15px 30px;
    border-radius: 9px;
    background-color: orange;
    color: white;
    border-style: none;
    cursor: pointer;
    
}


.msgBoxDelBtn:hover{
    background-color: black;
    color: #f28500;
}

.msgBoxWrtBtn{
    position: absolute;
    top: 48rem;
    left: 32rem;
    padding: 15px 30px;
    border-radius: 9px;
    background-color: orange;
    color: white;
    border-style: none;
    cursor: pointer;
}

.msgBoxWrtBtn:hover{
    background-color: black;
    color: #f28500;
}
