.container {
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-section {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo img {
    width: 150px; /* 원하는 크기로 조절 */
    height: auto;
}

.user-info {
    text-align: right;
}

.main-content {
    display: flex;
    margin-top: 20px;
}

.sidebar {
    padding: 15px;
    height: auto;
}

.sidebar-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f28500;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 15px;
    flex-grow: 1;
    padding: 15px;
}

.grid-item {
    background-color: #b50000;
    width: 200px;
    height: 100px;
    padding: 20px;
    text-align: center;
    border: 1px solid #000000;
}