.app-sidebar {
  width: auto;
  margin-left: 50px;
  flex-direction: column; /* 자식 요소들을 수직으로 쌓음 */
  height: 100vh; /* 전체 높이 차지 */
  box-sizing: border-box;
}

/* 1. 주요 네비게이션 항목들을 감싸고 수직 중앙 정렬을 담당 */
.sidebar-content-wrapper {
  flex-grow: 1; /* 로그아웃 섹션을 제외한 모든 수직 공간 차지 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 자식 요소(.sidebar-main-nav)를 이 공간 내에서 수직 중앙에 정렬 */
}

.sidebar-main-nav {
  width: 100%;
}

.sidebar-item {
  color: black;
  padding: 30px;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  text-decoration: none;
  display: block;
  font-weight: 700;
  border-bottom: 2px solid rgba(240, 233, 233, 0.1);
  border-radius: 20px
}
.sidebar-item {
  font-size: 25px;
}

.sidebar-item:last-child {
  border-bottom: none;
}

.sidebar-item:hover {
  background-color: #ffc278;
  transition: background-color 0.4s ease-in-out;
}

.sidebar-item.active {
  background-color: #fd981c;
  color: white;
}