*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#myPageheader{
    display: flex;
    justify-content: space-between;
}

#logo{
    margin-left: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    
}
#logoImg{
    width: 200px;
}
#user{
    margin-right: 2rem;
    margin-top:2rem;
}

#myPageMain{
    display: flex;
    justify-content: space-between;
}

#myPageContainer{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    
}

#tabs{
    margin-top: 30px;
    width: 250px;
    min-width: 250px;
    background-color: #f28500;
    border-radius: 0 5px 0 0;
    
}

.tablist{
    list-style-type: none;
}

.tablist > .tab:hover{
    background-color: white;
    color: #f28500;
    cursor: pointer;
}

.tab{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    font-size: 1.2rem; 
    border-bottom: 1px solid orange;
}

#logoutButton{
    margin-top: 23rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
    padding: 15px 77px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    border-style: none;
    cursor: pointer;
}

#logoutButton:hover{
    background-color: white;
    color: #f28500;
}

.bodyConditionCharts{
    padding-left: 30px;
    margin-top: 10px;
}
#bodyChart{
    width: 600px;
    height: 280px;
    margin-top: 20px;
}

#conditionChart{
    width: 600px;
    height: 280px;
    border-radius: 5px;
    margin-top: 5rem;
}

#userBodyInfo{
    margin-top: 50px;
    width: 20%;
    background-image: url('../../public/images/bodyImg.jpg');
    background-size: cover;
}

#bodyImg{
    width: 300px;
}

.bodyInfo{
    margin-left: 9rem;
    margin-top: 8rem;
}

.bodyInfo > p{
    margin-bottom: 3rem;
    
}

