*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#myPageheader{
    display: flex;
    justify-content: space-between;
}

#logo{
    margin-left: 3rem;
    margin-top: 2rem;
}
#logoImg{
    width: 200px;
}
#user{
    margin-right: 3rem;
    margin-top: 2rem;
}

#myPageMain{
    display: flex;
    justify-content: space-between;
}

#myPageContainer{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    
}

#tabs{
    margin-top: 50px;
    width: 20%;
    background-color: orange;
}

.tablist{
    list-style-type: none;
}

.tab{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

#logoutButton{
    margin-top: 33rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #d14029;
    color: white;
    border-style: none;
}

.bodyConditionGraphs{
    padding: 0 50px;
}
#bodyChart{
    width: 700px;
    height: 310px;
    margin-top: 50px;
}

#conditionChart{
    width: 700px;
    height: 310px;
    border-radius: 5px;
    margin-top: 20px;
}

#userBodyInfo{
    margin-top: 50px;
    width: 20%;
    background-image: url('../../public/images/bodyImg.jpg');
    background-size: cover;
}

#bodyImg{
    width: 300px;
}

.bodyInfo{
    margin-left: 10rem;
    margin-top: 10rem;
}

.bodyInfo > p{
    margin-bottom: 3rem;
    
}