/* src/App.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: 'Noto Sans KR', sans-serif; */ /* 이전 Noto Sans KR 주석 처리 또는 삭제 */
  font-family: 'Gowun Batang', serif; /* Gowun Batang 폰트로 변경 */

  color: #333; /* 기본 글자 색상 */
  box-sizing: border-box;
  font-weight: 700;
}  


@font-face {
  font-family: 'SeoulNamsanM';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* .appDiv{  
  font-family: 'SeoulNamsanM';
}
 */

.page-font {
    font-family: 'SeoulNamsanM';
}



